@{
    ViewData["Title"] = "Feel the magic of the GIFT!";
}


<div id="videoDiv">
    <div id="videoBlock">
        <video id="myVideo" autoplay muted loop>
            <source src="~/images/rain.mp4" type="video/mp4" />
        </video>
        <div id="videoMessageBox">
            <div id="videoMessage" class="text-center">
                <h2>Feel the magic of the GIFT!</h2>
            </div>
        </div>
    </div>
</div>


<div class="container pt-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 pr-0">
            <h1 class="text-center" style="color:#3080ba;padding-bottom:10px;">
                Swap a<br /> parcel
            </h1>
            <img src="~/images/1.jpeg" class="img-responsive" />
        </div>
        <div class="col-md-5 mlN-40 bg-1">
            <div class="p-5">
                <h2 style="padding-bottom:10px">
                    Join parcel-swapping!
                </h2>
                <p style="font-size:20px;">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
            </div>
        </div>
    </div>
    <div class="row  pt-5">
        <div class="col-md-1"></div>
        <div class="col-md-5  pr-0 bg-2">
            <div class="p-5">
                <h2 style="padding-bottom:10px">
                    Join parcel-swapping!
                </h2>
                <p style="font-size:20px;">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
            </div>
        </div>
        <div class="col-md-5 mlN-40 ">
            <h1 class="text-center" style="color:rgba(171, 5, 53, 1);padding-bottom:10px;">
                Swap a<br /> parcel
            </h1>
            <img src="~/images/2.jpeg" class="img-responsive" />
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <h1 class="text-center" style="color:rgba(171, 5, 53, 1);">
                How to
            </h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center" style="padding-top:20px;font-size:16px; line-height:22px;">
            In the confirmation e-mail you'll find a link for a donation of minimum 2 € to take part.   I'll donate everything to UNHCR for the refugees, to CRI - Italian Red Cross and to MSF - Médecins sans frontières. In this way we can make together another great gift to a stranger in need. Once I made the donations (before this Christmas), you receive the receipt by email.
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12" style="padding-bottom:40px;">
            <h1 class="text-center" style="color:rgba(171, 5, 53, 1);">
                Our partners
            </h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img src="~/images/AliExpress.png" class="img-responsive"/>
        </div>
        <div class="col-md-2" style="padding-top:40px;">
            <img src="~/images/amazon.jpg"class="img-responsive" />
        </div>
        <div class="col-md-2">
            <img src="~/images/AliExpress.png"class="img-responsive" />
        </div>
        <div class="col-md-2" style="padding-top:40px;">
            <img src="~/images/amazon.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>

@section scripts{
    <script>
        $(window).scroll(function () {
            scrollMenu(); 
        });
        $(function () {
            scrollMenu();
        })
        function scrollMenu() {
            scroll_start = $(this).scrollTop();
            if (scroll_start > 300) {
                $('#mainNav').removeClass('bg-transparent').addClass('bg-white');
            } else {
                $('#mainNav').removeClass('bg-white').addClass('bg-transparent');
            }
        }
    </script>
}